.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #e6e6e6; // Нейтральний фон
    border-radius: 10px; // Закруглені кути
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); // Тінь для піднятого вигляду
    
    width: 80%;
    max-width: 800px; // Максимальна ширина контейнера
    margin: 50px auto; // Центрування контейнера
  
    // Медіа-запит для мобільних екранів
    @media (max-width: 600px) {
      width: 95%;
      padding: 20px 10px;
    }    
  }
  
  button.skip-quest {
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 16px;
    align-self: center;
    text-align: center;
    background-color: #0d812a;
    color: white;
    &:hover {
        background-color: #a1e217;
        color:rgba(39, 31, 163);
transition: 2s ;
    }
        }
  
  
  
  
  