
#root {
background-color: #ffffff;
  background-image: url('./img/222.png'); 
  color: #333;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  border: 2px solid #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}