// Colors
$primary-color: #1eb7ee;
$light-color: #f5f5f5;
$dark-color: #000;
$white-color: #fff;
$light-grey: #e7efec;
$main-body-background: #e7efec;
$main-font-color: #2f2f2f;
$box-shadow-popular: 0 3px 6px rgb(0 0 0 / 16%);

// Font
$font-family: 'Open Sans', sans-serif;
$font-size-base: 16px;

// Media breakpoints
$large-screen: 860px;
$medium-screen: 600px;
$small-screen: 599px;